




@keyframes animation-e9jmk2{
0% {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
25% {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 5fr 1fr;
}
50% {
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 1fr 5fr;
}
75% {
    grid-template-columns: 5fr 1fr 1fr;
    grid-template-rows: 5fr 1fr;
}
100% {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
}